<html>
<nav class="navbar navbar-expand-sm">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href='/'>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={{account}}>{{account_link}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/events">Events</a>
      </li>
    </ul>
  </div>
</nav>

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://www.paypalobjects.com/api/checkout.js"></script>
</head>

<body>

  <div>{{e.name}}</div>
  <div>{{e.email}}</div>
  <div>{{e.supervisor}}</div>
  <div>{{e.address}}</div>
  <div>{{e.startDate}}</div>
  <div>{{e.endDate}}</div>
  <div>{{e.comments}}</div>
  <div>{{e.maxRegistrants}}</div>
  <div>{{e.currentRegs}}</div>

  <div id="paypal-button"></div>

  <script lang="Javascript">
    

    paypal.Button.render({
      env: 'production', // Or 'sandbox',

      commit: true, // Show a 'Pay Now' button

      style: {
        color: 'gold',
        size: 'small'
      },

      payment: function (data, actions) {
        /* 
         * Set up the payment here 
         */
      },

      onAuthorize: function (data, actions) {
        /* 
         * Execute the payment here 
         */
      },

      onCancel: function (data, actions) {
        /* 
         * Buyer cancelled the payment 
         */
      },

      onError: function (err) {
        /* 
         * An error occurred during the transaction 
         */
      }
    }, '#paypal-button');
  </script>

</body>

</html>