<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://www.paypalobjects.com/api/checkout.js"></script>
</head>

<body class="text-center" data-gr-c-s-loaded="true">


  <div><bold><center><font size="+5"><ins>{{e.name}}</ins></font></center></bold></div>
  <div><center><font size="+2">Email: {{e.email}}</font></center></div>
  <div><center><font size="+2">Supervisor: {{e.supervisor}}</font></center></div>
  <div><center><font size="+2">The Address: {{e.address}}</font></center></div>
  <div><center><font size="+2">Event starts on {{e.startDate}}</font></center></div>
  <div><center><font size="+2">Event starts ends {{e.endDate}}</font></center></div>
  <div><center><font size="+2">Capacity: {{e.currentRegs}}/{{e.maxRegistrants}}</font></center></div>
  <div><center><font size="+3"><ins>Event Info</ins></font></center></div>
  <div><center><font size="+2">{{e.comments}}</font></center></div><br><br>


  <div>
    <center>
      <button id="button" class="btn btn-lg btn-info" data-toggle="collapse" data-target="#Registration">Register</button>
    </center>
    <div id="Registration" class="collapse"class=".event_form">
      <br>
    <form id="event-register"class="form-signin" action="/event/{{e._id}}/register" method="post">
      <h3>Register for Event here</h3>
      <h5>{{error}}</h5>
        <div class="form-label-group">
          <label for="user_mail">email</label>
          <input class="form-control" type="email" id="mail" name="user_mail"
           placeholder= "{{user.username}}"
            required>
        </div>
        <div class="form-label-group">
          <label for="user_firstname">first name</label>
          <input type="text" id="firstname" name="user_firstname"
          class="form-control" placeholder="{{user.first}}">
        </div>
        <div class="form-label-group">
          <label for="user_lastname">last name</label>
          <input type="text" id="lastname" name="user_lastname"
          class="form-control" placeholder="{{user.last}}">
        </div>
        <div class="form-label-group">
          <label for="user_address">address</label>
          <input type="text" id="address" name="user_address"
           class="form-control" placeholder="{{user.address}}">
        </div>

        <center><input type="submit" id="paypal-button"></input></center>
      </form>
  </div>


  <script lang="Javascript">

    paypal.Button.render({

      env: 'sandbox', // sandbox | production

        // Specify the style of the button

        style: {
            size:  'small', // small | medium | large | responsive
            color: 'gold'   // gold | blue | silver | black
        },

        // PayPal Client IDs - replace with your own
        // Create a PayPal app: https://developer.paypal.com/developer/applications/create

        client: {
            sandbox:    'AZDxjDScFpQtjWTOUtWKbyN_bDt4OgqaF4eYXlewfBP4-8aqX3PiV8e1GWU6liB2CUXlkA59kJXE7M6R',
            production: '<insert production client id>'
        },

        // Wait for the PayPal button to be clicked

        payment: function(data, actions) {
            return actions.payment.create({
                payment: {
                    transactions: [
                        {
                            amount: { total: '0.01', currency: 'USD' }
                        }
                    ]
                }
            });
        },

        // Wait for the payment to be authorized by the customer

        onAuthorize: function(data, actions) {

            return actions.payment.execute().then(function() {
                window.alert('Payment Complete!');

            });
            
        }


    }, '#paypal-button');



  </script>
  </div>
</body>
</html>
