<html lang="en">

  <head>
    <script>
    function printEvents() {
      event_names = '{{names}}';
      events = '{{account.events}}';
      if (events === '')
        document.write('<div class="event-proto">' + "<h6> No events </h6>" + "</div>");
      else {
        events = events.split(',');
        names = event_names.split(',');
        console.log(events);
        console.log(names);
        for (var i = 0; i < events.length; i++) {
          document.write('<a class="btn btn-lg btn-primary btn-block" href="/event/' +
                          events[i] + '">' + names[i] + '</a>');
        }
      }
    }
    </script>
  </head>

  <body>
    <div class="profile-info">
      <h4> First name: {{account.first}} </h4>
    </div>
    <div class="profile-info">
      <h4> Last name: {{account.last}} </h4>
    </div>
    <div class="profile-info">
      <h4> Email: {{account.username}} </h4>
    </div>
    <div class="profile-info">
      <h4> Address: {{account.address}} </h4>
    </div>
    <div class="profile-info">
      <h4> Events: </h4>
      <script>printEvents();</script>
    </div>
    <form class="form-signin" action="/account/logout" method="post">
      <button class="btn btn-lg btn-primary btn-block" type="submit">
        Logout
      </button>
    </form>
  </body>
</html>
